# 7. List and Dictionary

--------------

앞에서 공부한 데이터 형들은 scalar로서 하나의 값을 가졌다.

이 장에서는 여러 object들을 포함하는 container들에 대해 공부한다.

## List와 tuple
----------

<p> <font color=#00008B> &#9635 리스트 (list) </font> - 파이썬에서 여러 원소들을 모아놓은 집합체로 순서가 있으며, 원소들을 변경 가능하다. </p>

* ```[ ]```와 ```,```로 표현하는 데이터 형으로 여러 가지 형태의 정보를 하나의 리스트로 묶어서 나타냄  
* ```list``` 는 매우 유연하며, 다양한 상황에서 간편하게 활용될 수 있다.

In [1]:
squares = [1, 4, 9, 16, 25]
zoo_animal = ['tiger', 'lion', 'monkey']
smith_information = ['Smith', 1990, 'London']
lee_information = ['Lee', 1975, 'Seoul']
customer = [smith_information, lee_information]

`len()` 함수를 이용하여 길이를 구함

In [2]:
len(squares)

5

In [3]:
len(zoo_animal)

3

In [4]:
len(customer)

2

### List의 인덱스 (index)

In [5]:
squares = [1, 4, 9, 16, 25, 36, 49, 64, 81]

* index를 이용한 list 내의 원소 접근
  * 첫 아이템의 index는 0부터 시작

In [6]:
squares[0]

1

In [7]:
squares[1]

4

In [8]:
squares[4]

25

In [9]:
# 가장 마지막
squares[-1]

81

In [10]:
# 마지막에서 두 번째
squares[-2]

64

리스트는 `for` 문에서 사용할 수 있다.

In [11]:
for i in squares: print(i)

1
4
9
16
25
36
49
64
81

### list의 slicing 연산

<p> <font color=#00008B> &#9635 Slicing </font> - list를 잘라내어 sublist를 추출하는 과정 </p>

In [12]:
squares = [1, 4, 9, 16, 25, 36, 49, 64, 81]

  * 인덱스 0의 item부터 인덱스 3의 item 이전까지

In [13]:
squares[0:3]

[1, 4, 9]

혹은

In [14]:
squares[:3]

[1, 4, 9]

  * 인덱스 3의 item부터 인덱스 6의 item 이전까지

In [15]:
squares[3:6]

[16, 25, 36]

  * 인덱스 6의 item부터 인덱스 9의 item 이전까지

In [16]:
squares[6:9]

[49, 64, 81]

혹은

In [17]:
squares[6:]

[49, 64, 81]

* 인덱스 0의 item부터 인덱스 6의 item 이전까지 2의 간격으로

In [18]:
# stride 라고도 한다.
squares[0:6:2]

[1, 9, 25]

* 음수를 이용한 slicing 또한 활용 가능하다.

In [19]:
squares[:-1]

[1, 4, 9, 16, 25, 36, 49, 64]

In [20]:
squares[-3:]

[49, 64, 81]

In [21]:
squares[2:-1]

[9, 16, 25, 36, 49, 64]

In [22]:
squares[-4:-2]

[36, 49]

In [23]:
squares[::-1]

[81, 64, 49, 36, 25, 16, 9, 4, 1]

slicing을 하여도 원래의 list는 보존된다.

In [24]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### list 내용 변경

In [25]:
squares = [1, 4, 10, 17, 25]

In [26]:
squares[2] = 9
print(squares)

[1, 4, 9, 17, 25]

In [27]:
squares[3] = 16
print(squares)

[1, 4, 9, 16, 25]

In [28]:
squares = [1, 4, 10, 17, 25]
print(squares)

[1, 4, 10, 17, 25]

In [29]:
squares[2:4] = [9, 16]
print(squares)

[1, 4, 9, 16, 25]

In [30]:
squares = squares + [36, 49, 64]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64]

In [31]:
squares.append(81)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
squares.append(10**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
squares.extend([11**2, 12**2, 13**2])
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

In [34]:
# slicing을 이용하여 값들을 할당하는 과정 중에 리스트의 길이가 변경될 수 있다.
squares[5:10] = []
print(squares)

[1, 4, 9, 16, 25, 121, 144, 169]

In [35]:
squares[1] = []
print(squares)

[1, [], 9, 16, 25, 121, 144, 169]

In [36]:
squares[1:2] = []
print(squares)

[1, 9, 16, 25, 121, 144, 169]

In [37]:
squares.insert(1, 4)
print(squares)

[1, 4, 9, 16, 25, 121, 144, 169]

### list 내의 list

In [38]:
A = [[0,1,2,3,4], ['a', 'b']]

In [39]:
A[0]

[0, 1, 2, 3, 4]

In [40]:
A[1]

['a', 'b']

In [41]:
A[0][0]

0

In [42]:
A[0][1]

1

In [43]:
A[1][0]

'a'

In [44]:
A[1][1]

'b'

### Unpacking

리스트의 원소들을 꺼내오는 개념이다.

In [45]:
alist = [1, 2]
first, second = alist
print(first, second)

1 2

unpacking의 경우 개수를 맞춰야 한다.

In [46]:
# 에러 발생
alist = [1, 2, 3, 4, 5]
first, second = alist

ValueError: too many values to unpack (expected 2)

개수를 정확히 모르거나 유연하게 대처하고 싶을 경우 별표 식(starred expression)을 사용한다.

In [47]:
first, second, *others = alist
print(first, second, others)

1 2 [3, 4, 5]

In [48]:
first, *others, last = alist
print(first, others, last)

1 [2, 3, 4] 5

### list concatenation (`+`), `extend`, `append`

In [49]:
x = [1, 2, 3]
x.extend([4, 5, 6])   # x is now [1, 2, 3, 4, 5, 6]
print(x)

[1, 2, 3, 4, 5, 6]

만약 x를 변화시키고 싶지 않으면

In [50]:
x = [1, 2, 3]
y = x + [4, 5, 6]   # y is [1, 2, 3, 4, 5, 6] x는 그대로
print(x)
print(y)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

* 하나씩 추가할 경우는 append를 많이 씀

In [51]:
x = [1, 2, 3]
x.append(0)     # x is now [1, 2, 3, 0]
print(x)

[1, 2, 3, 0]

### list의 다양한 method

In [52]:
animals = ['dog', 'cat', 'duck', 'lion', 'snake', 'cat']

In [53]:
animals.index('lion')

3

In [54]:
animals.index('cat')

1

In [55]:
animals.remove('duck')
animals

['dog', 'cat', 'lion', 'snake', 'cat']

In [56]:
animals.remove('cat')
animals

['dog', 'lion', 'snake', 'cat']

In [57]:
animals.remove('cat')
animals

['dog', 'lion', 'snake']

* list data type은 다양한 method들을 포함하며 아래의 링크에서 확인
* https://docs.python.org/3/tutorial/datastructures.html#more-on-lists
    
### 참조와 복사

* 하나의 객체를 L1, L2가 동시에 지칭하여, L1의 원소가 변하면 L2의 원소도 같이 변함

In [58]:
L1 = [1, 2, 3]
L2 = L1
L1[0] = 4

In [59]:
print(L1)

[4, 2, 3]

In [60]:
print(L2)

[4, 2, 3]

* L1에 새로운 리스트를 대응하면 원래의 참조를 끊고 새로운 대입값을 적용

In [61]:
L1 = [1, 2, 3]
L2 = L1
L1 = [4, 5, 6]

In [62]:
print(L1)

[4, 5, 6]

In [63]:
print(L2)

[1, 2, 3]

* 같은 대상을 참조하는 것이 아니라 대상을 복사하여 사용하고 싶을 때  
  * 복사는 얕은 복사와 깊은 복사가 있으며 우리 과정에서는 얕은 복사만 다룬다.

In [64]:
L1 = [1, 2, 3]
L2 = L1[:]     #python2에서 많이 쓰던 방법

혹은

In [65]:
L2 = list(L1)

혹은

In [66]:
# Python3에서 가장 추천하는 방법
L2 = L1.copy()

In [67]:
L1[0] = 4
print(L1)

[4, 2, 3]

In [68]:
print(L2)

[1, 2, 3]

#### 복사의 예

* Python 언어의 모든 매개 변수는 참조로 전달된다.
* 즉, 함수 내에서 매개 변수가 참조하는 것을 변경하면 변경 내용은 호출 함수 밖에서도 반영된다.
* 이를 pass by reference(참조)라고 한다.
* 다음 예제를 보면 함수 내부에서 변화가 함수 바깥으로 영향을 미치는 것을 볼 수 있다.

In [69]:
def changeme(mylist):
    mylist.append([1,2,3,4])
    print("Values inside the function: ", mylist)
    return

mylist = [10,20,30]
changeme(mylist)
print("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30, [1, 2, 3, 4]]

* 만약 이를 원치 않으면, 다음과 같이 복사하여 사용한다.

In [70]:
def changeme(mylist):
    mylist = mylist.copy()
    mylist.append([1,2,3,4])
    print("Values inside the function: ", mylist)
    return

mylist = [10,20,30]
changeme(mylist)
print("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, [1, 2, 3, 4]]
Values outside the function:  [10, 20, 30]

#### 복사의 예(2)

아래에서 ```removeDup```은 ```L1```과 ```L2```를 비교하여, 중복되는 항목을 ```L1```에서 제거하는 목적을 지닌다.  
다음의 두 ```removeDup```를 비교해 보자.

In [71]:
# 정상적으로 삭제되지 않는 경우
def removeDup(L1, L2):
    for e1 in L1:
        if e1 in L2:
            L1.remove(e1)
            
L1=[1,2,3,4]
L2=[1,2,5,6]
removeDup(L1, L2)
print('L1 = ', L1)

L1 =  [2, 3, 4]

In [72]:
# 복사를 사용하여 정상적으로 고칠 수 있다.
def removeDup(L1, L2):
    for e1 in L1.copy():
        if e1 in L2:
            L1.remove(e1)
            
L1=[1,2,3,4]
L2=[1,2,5,6]
removeDup(L1, L2)
print('L1 = ', L1)

L1 =  [3, 4]

첫 코드의 문제는 ```for```문 내에서 ```L1```이 변한다는 것이다.  
함수가 아닌 ```for```문만을 통해 표현해도 똑같은 문제점을 발견할 수 있다.

In [73]:
L1=[1,2,3,4]
L2=[1,2,5,6]

for e1 in L1:
    if e1 in L2:
        L1.remove(e1)
            
print('L1 = ', L1)

L1 =  [2, 3, 4]

In [74]:
L1=[1,2,3,4]
L2=[1,2,5,6]

for e1 in L1.copy():
    if e1 in L2:
        L1.remove(e1)
            
print('L1 = ', L1)

L1 =  [3, 4]

### string과 list의 차이점

* string과 list는 인덱스를 통해 접근할 수 있는 등 비슷한 점이 많음

In [75]:
my_string = 'abcdefg'
print(my_string[0])

a

* slice 또한 가능하다.

In [76]:
my_string[0:2]

'ab'

In [77]:
# simple reverse
my_string[::-1]

'gfedcba'

* list는 인덱스를 통해 원소를 변화시키는 것이 가능(mutable)
 * ```my_list[i] = new_element```

* string은 불가능 (immutable)

In [78]:
my_string[0] = 'k'

TypeError: 'str' object does not support item assignment

### List comprehension

-----------------

<p> <font color=#00008B> &#9635 List comprehension </font> - 기존 리스트의 각 원소에 식을 적용하고 결과를 수집하여 새로운 리스트를 만드는 과정으로, 기존 리스트의 값을 기반으로 새 리스트를 만들려는 경우 편리하다.</p>

기본 문법은 다음과 같다.

`[expression for item in iterable if condition]`

`[expression for item_1 in iterable_1 for item_2 in iterable_2 ... for item_n in iterable_n if condition]`

In [79]:
squares = [x**2 for x in range(4)]
print(squares)

[0, 1, 4, 9]

In [80]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [81]:
[abs(x) for x in [-1, 2, -3]]

[1, 2, 3]

In [82]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [83]:
mixed = [1, 2, 'a', 3, 4.0]
print([x**2 for x in mixed if type(x) == int])

[1, 4, 9]

```else``` 혹은 `elif`와 함께 사용될 때는 문법이 조금 다르다.

`[expression if condition else alternative_expression for item in iterable]`

`[expression_1 if condition_1 elif condition_2 else expression_2 for item in iterable]`

In [84]:
integers = [1, 2, 3, 4, 5, 6, 7]
print([x**2 if x % 2 == 0 else 0 for x in integers])

[0, 4, 0, 16, 0, 36, 0]

### Sorting - 정렬

Python 리스트는 `sort()` method를 이용하여 정렬 가능

In [85]:
x = [4, 1, 2, 3]
y = sorted(x)    # y는 [1, 2, 3, 4], x는 변하지 않음
print(x)
print(y)

[4, 1, 2, 3]
[1, 2, 3, 4]

In [86]:
x.sort()            # x가 이제 [1, 2, 3, 4]
print(x)

[1, 2, 3, 4]

응용 : 절대값 기준으로 내림차순으로 정렬

In [87]:
x = sorted([-4, 1, -2, 3], key=abs, reverse=True)
print(x)

[-4, 3, -2, 1]

In [88]:
sorted(["abc", "a", "ab", "abcd"], key=len, reverse=True)

['abcd', 'abc', 'ab', 'a']

* 위 예제들에서 ```key```라는 인자로 함수가 전달됨을 볼 수 있다.  
* 이미 만들어진 함수뿐만 아니라, anonymous 함수 등도 전달 가능하다.

In [89]:
sorted(["fine", "crab", "panic", "alpaca", "add"], key = lambda x: x[-1], reverse=False)

['alpaca', 'crab', 'panic', 'add', 'fine']

### 랜덤 (random) 리스트

아래 예제는 0과 1사이의 임의의 실수를 랜덤하게 4번 생성하여 리스트로 만들고자 한다.
* ```random.random()```은 0과 1사이에서 uniform하게 분포된 랜덤 숫자를 반환
* ```_```는 다시 사용하지 않을 dummy variable을 표현
  * ```x```로 바꾸어도 상관없음

In [90]:
import random
four_uniform_randoms = [random.random() for _ in range(4)]
print(four_uniform_randoms)

[0.6674772465212987, 0.7998581399652266, 0.556430943602031, 0.04582142935919964]

랜덤 샘플 추출 (중복 허용하지 않음)
* 0이상 60미만의 정수 중 중복을 허용하지 않고 6개의 랜덤 샘플을 추출

In [91]:
lottery_numbers = range(60)
random.sample(lottery_numbers, 6)   # 6개의 랜덤 샘플

[58, 22, 55, 41, 21, 31]

랜덤 선택 (중복 허용)
* 0이상 10미만의 수를 중복 허용하여 4번 추출
* ```random.choice()```는 주어진 값들 중 임의의 하나의 값을 선택

In [92]:
four_with_replacement = [random.choice(range(10)) for _ in range(4)]
print(four_with_replacement)

[8, 2, 5, 6]

### Tuple - 투플

* Tuple은 list와 매우 비슷함
  * 단 immutable
  * 내용을 바꾸는 연산을 제외한 list의 많은 연산을 똑같이 수행 가능
  * `[ ]`가 아닌 `( )` 혹은 아무런 괄호 없이 표현

In [93]:
my_tuple = (1, 2)
my_tuple[1] = 3

TypeError: 'tuple' object does not support item assignment

함수에서 여러 값을 같이 반환할 때 유용하다.

In [94]:
def sum_product(x, y): return x+y, x*y

In [95]:
sum_product(2, 3)

(5, 6)

여러 값을 동시에 부여 (list로도 가능)

In [96]:
x, y = (1, 2)
x, y = y, x     #Python에서 두 변수 값을 swap하는 법
print(x, y)

2 1

<p> &#9635 예제 : Tuple </p>

In [97]:
t1 = ()
t2 = (1, 'two', 3)
t3 = (10,)   # 원소가 하나인 tuple

In [98]:
print(t1)

()

In [99]:
print(t2)

(1, 'two', 3)

In [100]:
print(t3)

(10,)

In [101]:
t1 = (1, 'two', 3)
t2 = (t1, 3.25)

In [102]:
print(t2)

((1, 'two', 3), 3.25)

In [103]:
print(t1 + t2)

(1, 'two', 3, (1, 'two', 3), 3.25)

In [104]:
print((t1 + t2)[3])

(1, 'two', 3)

In [105]:
print((t1 + t2)[2:5])

(3, (1, 'two', 3), 3.25)

<p> &#9635 Example : 공약수 </p>

아래 예제에서는 ```findDivisors``` 함수가 공약수들을 투플로 만들어 반환하고 있다.

리스트를 반환하도록 바꾸어 보자. 그러면서 ```append``` method도 활용해 보자.

In [106]:
def findDivisors (n1, n2):
    divisors = ()  #empty tuple
    for i in range(1, min (n1, n2) + 1):
        if n1%i == 0 and n2%i == 0:
            divisors = divisors + (i, )
    return divisors

In [107]:
divisors = findDivisors(20, 100)
print(divisors)

(1, 2, 4, 5, 10, 20)

### `for`문과 list 혹은 tuple의 연계

In [108]:
my_list = [10, 'hi', -1.2, 'first']

In [109]:
for x in my_list:
    print(x)

10
hi
-1.2
first

In [110]:
student_list = ['Tom', 'Jack', 'Jane', 'Susan']
student_list.sort()
for student in student_list:
    print(student)

Jack
Jane
Susan
Tom

### String, tuple, list 공통적인 기능

* ```seq[i]``` : i번째 원소
* ```len(seq)``` : 길이
* ```seq1 + seq2``` : 연결
* ```n * seq``` : n번 반복
* ```seq[start:end]``` : 일부
* ```e in seq``` : 만약 e가 seq에 속하면 True, 아니면 False
* ```e not in seq``` : 만약 e가 seq에 속하면 False, 아니면 True
* ```for e in seq``` : 반복문

## Iterator and generator

----

### Iterator

<p> <font color=#00008B> &#9635 Container </font> - 여러 값들을 담고 있는 객체이며, 리스트, 투플, 문자열, 딕셔너리 등이 있다. </p>

<p> <font color=#00008B> &#9635 Iterable </font> - <code>iter()</code> 함수를 통해, iterator를 반환할 수 있는 객체이며, 대부분의 container들이 해당된다. 이런 container들을 iterable container라고도 한다.
    
<p> <font color=#00008B> &#9635 Iterator </font> - <code>next()</code> 한 번에 하나씩 다음 차례의 멤버를 반환할 수 있는 객체로서 <code>for</code> 루프에서 반복을 사용할 수 있도록 한다.

아래 코드에서 `student_list`는 여러 값을 담고 있는 container이며 `iter()` 함수를 적용할 수 있기 때문에 iterable container이다.

In [111]:
student_list = ['Tom', 'Jack', 'Jane', 'Susan']

`iter(student_list)`를 수행하면, iterator를 반환하며,

In [112]:
iterator_obj = iter(student_list)

iterator는 `next()` 함수를 통해 다음 차례의 원소를 순차적으로 반환할 수 있다.

In [113]:
print(next(iterator_obj)) 
print(next(iterator_obj)) 
print(next(iterator_obj)) 
print(next(iterator_obj))

Tom
Jack
Jane
Susan

<img src="" width="550" alt="" />

Iterable container가 `for` loop에서 바로 활용될 때 Python 내부적으로는 ```iter()``` 함수를 이용하여 iterator로 변환하여 사용한다.

In [114]:
# 다음의 두 코드는 같은 역할을 수행한다..
for x in [1,2]:
    print(x)
    
for x in iter([1,2]):
    print(x)

1
2
1
2

### Generator
<p> <font color=#00008B> &#9635  Generator </font> - iterator의 특별한 종류로, 각 멤버를 생성하는 방법을 작성한 후, 모든 멤버를 미리 만들어 놓지 않고, 반복을 통해 요청될 때만 다음 차례의 멤버를 한 번에 하나씩 생성한다. </p>

* List의 문제 중 하나는 그 길이가 매우 커질 수 있다는 점.
* 예를 들어 Python2에서 ```range(1000000)```은 백만 개의 원소를 가지는 list. (Python3에서는 list가 아님)
    * 때로는 단순히 for문을 돌리기 위해 이 데이터를 모두 생성하여 메모리에 저장하는 것은 낭비일 수 있음.
* Python3에서는 ```for```문에서 ```range(1000000)```가 generator를 통해 활용된다.
    * ```for```문 등을 이용하여 반복 가능하지만, 그 값들을 생성하는 것은 필요한 경우만 실행.
    * ```range()```자체는 generator는 아니지만 ```for```문에서 활용될 때는 generator로 변환하여 실행됨.
* Python2에서는 이와 같은 역할을 하는 ```xrange```라 불리우는 함수가 있음

#### ```[0, 1, 2, 3, 4]```와 ```range(5)```의 차이:

Python3에서는 ```range(5)```는 숫자 0-4의 수열을 생성하는 데 필요한 명령을 저장하지만, list ```[0, 1, 2, 3, 4]```은 속해 있는 모든 값을 메모리에 저장한다.
 * Python2에서는 ```[0, 1, 2, 3, 4]```와 ```range(5)```는 같다.

In [115]:
# Python 3에서 range(5)로 [0,1,2,3,4]를 생성할 수 있지만, 실제로 [0,1,2,3,4]와 같은 것은 아니다.
print(range(5))

range(0, 5)

In [116]:
print([0,1,2,3,4])

[0, 1, 2, 3, 4]

In [117]:
# range()를 list처럼 합치면 예상치 못한 결과가 나올 수 있음
for i in range(3) + range(3,6): print(i)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [118]:
# list로 변환하여 해결하는 방안이 있음
for i in list(range(3)) + list(range(3,6)): print(i)

0
1
2
3
4
5

In [119]:
list(range(4)) + list(range(5))

[0, 1, 2, 3, 0, 1, 2, 3, 4]

####  generator 만들기

* generator는 ```return``` 대신 ```yield``` 키워드를 이용하면 만들 수 있다.
* generator의 특성상 무한한 값을 생성하는 것도 가능하다.

In [120]:
def even_numbers():
    n = 1
    while True:
        if (n % 2 == 0): yield n
        n += 1

In [121]:
even_numbers()

In [122]:
g = even_numbers()
print(next(g))
print(next(g))
print(next(g))

2
4
6

In [123]:
for i in even_numbers():
    print(i, end=" ")
    if (i >= 100): break  #break가 없으면 무한 루프 생성

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

### `enumerate`

* enumerate을 이용하여 인덱스와 리스트의 값에 접근할 수 있다.
* (index, value)로 이루어진 (generator와 매우 흡사한) iterator를 반환하여 ```for```문 등에서 사용 가능 
* list로 변환하여 활용하려면 ```list()```를 이용

In [124]:
student_list = ['Tom', 'Jane', 'Susie', 'Chris']
for index, value in enumerate(student_list):
    print(index, value)

0 Tom
1 Jane
2 Susie
3 Chris

In [125]:
enumerate(student_list)

In [126]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
list(enumerate(seasons))

[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]

list의 index를 기반으로 for문을 활용하려면 크게 다음의 두 가지 방법이 있다.

두 방법은 같은 효과를 가지며 어떤 것을 활용해도 상관은 없지만 Python에서는 두 번째 방법을 많이 사용한다.

* for i in range(len(some_list)):   
&nbsp;&nbsp;&nbsp;&nbsp;do something(i)&nbsp;&nbsp;&nbsp;&nbsp;     # not Pythonic   

* for i, _ in enumerate(some_list) :   
&nbsp;&nbsp;&nbsp;&nbsp;do something(i)&nbsp;&nbsp;&nbsp;&nbsp;  # Pythonic

### zip

* 두 개 이상의 리스트를 원소 별로 합쳐서 tuple들의 iterator로 생성
  * ```enumerate```과 마찬가지로 generator와 흡사한 성질을 지님
* iterator로 만들어지기 때문에 실체를 확인하려면 ```list()```를 이용하여 list로 만들어 확인

In [127]:
x = [1, 2, 3]
y = [4, 5, 6]
for xi, yi in zip(x, y):
    print(xi, yi)

1 4
2 5
3 6

In [128]:
zipped = zip(x, y) # iterator for [(1, 4), (2, 5), (3, 6)]
print(zipped)

<zip object at 0x000001CBF4320840>

In [129]:
for z in zipped: print(z)

(1, 4)
(2, 5)
(3, 6)

In [130]:
# iterator zipped가 한 바퀴 돌았기 때문에, 빈 list가 생성된다.
print(list(zipped))

[]

In [131]:
# Do zip again.
x = [1, 2, 3]
y = [4, 5, 6]
zipped = zip(x, y) # iterator for [(1, 4), (2, 5), (3, 6)]
print(list(zipped))

[(1, 4), (2, 5), (3, 6)]

In [132]:
list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9]))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

## Dictionary
------
<p> <font color=#00008B> &#9635  Dictionary </font> -  key : value 형태의 대응 관계를 나타내는 자료형 </p>

* Dictionary는 list처럼 여러 원소들을 하나의 collection으로 사용
  * List에서는 index를 통하여 원소에 접근하였지만, dictionary에서는 key를 통하여 접근
* Dictionary의 기본 구조
  * ```{key1: element1, key2: element2, … }```
* key는 일반적으로 string이나 숫자를 사용
  * 예제 – 학생 이름과 점수
   * ```{'Tom': 92, 'Jane': 95, 'Amy': 73, 'Nick': 81}```
   * 학생 이름이 key로 사용되었으며, 점수가 값으로 사용됨
* dictionary는 key의 순서가 중요하지 않음(unordered)

### key를 통한 접근

In [133]:
scores = {'Tom': 92, 'Jane': 95, 'Amy': 73, 'Nick': 81}

In [134]:
scores['Tom']

92

In [135]:
scores[0]  # error 발생 : index를 통해 접근할 수 없음

KeyError: 0

* list에서와 같이 key를 통하여 원소의 내용을 바꿀 수 있음 (mutable)

In [136]:
scores['Tom'] = 100
print(scores)

{'Tom': 100, 'Jane': 95, 'Amy': 73, 'Nick': 81}

* 기존에 'Robin'이 없으므로 새로운 원소 추가

In [137]:
scores['Robin'] = 50
print(scores)

{'Tom': 100, 'Jane': 95, 'Amy': 73, 'Nick': 81, 'Robin': 50}

* 기존의 원소 제거

In [138]:
del scores['Nick']
print(scores)

{'Tom': 100, 'Jane': 95, 'Amy': 73, 'Robin': 50}

### 유용한 method들

In [139]:
scores.keys()

dict_keys(['Tom', 'Jane', 'Amy', 'Robin'])

In [140]:
scores.values()

dict_values([100, 95, 73, 50])

In [141]:
scores.items()

dict_items([('Tom', 100), ('Jane', 95), ('Amy', 73), ('Robin', 50)])

### dictionanry를 이용한 `for` 구문

dictionary를 직접 ```for```문에 이용하면 key를 바탕으로 ```for```문이 실행된다.

In [142]:
for key in scores:
    print(key, scores[key])

Tom 100
Jane 95
Amy 73
Robin 50

비슷한 방법으로는 ```.keys()``` method를 이용할 수 있으나, 위의 방법이 더 선호되는 경향이 있음

In [143]:
for key in scores.keys():
    print(key, scores[key])

Tom 100
Jane 95
Amy 73
Robin 50

key와 value를 모두 필요로 할 때는 ```.items()```를 이용한다. 따라서 위의 코드들은 아래처럼 이용하는 것이 효율적이다.
  * 가장 활용도가 높고 효율이 좋음
  * list에서 ```enumerate()```과 비슷한 역할

In [144]:
for k, v in scores.items():
    print(k, v)

Tom 100
Jane 95
Amy 73
Robin 50

In [145]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

만약 value만 필요하다면 key 부분은 ```_```로 받을 수 있다.

In [146]:
# 점수 총합을 계산
sum_score = 0
for _, v in scores.items():
    sum_score += v
print(sum_score)

318

물론 ```.values()```를 이용할 수도 있음

In [147]:
sum_score = 0
for v in scores.values():
    sum_score += v
print(sum_score)

318

### 두 개의 list로부터 dictionary 만들기

In [148]:
students = ["Anne", "Jim", "Susan", "Kim"]
scores = [100, 76, 58, 93]

result = dict(zip(students, scores))
result

{'Anne': 100, 'Jim': 76, 'Susan': 58, 'Kim': 93}

### 구조화된 데이터를 dictionary로 표현

In [149]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_cout" : 100,
    "hashtags" : ["#data", "#science"]
}

tweet_keys = tweet.keys()       # sequence of keys
tweet_values = tweet.values()   # sequence of values
tweet_items = tweet.items()     # sequence of (key, values)

In [150]:
tweet_keys

dict_keys(['user', 'text', 'retweet_cout', 'hashtags'])

In [151]:
tweet_values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science']])

In [152]:
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_cout', 100), ('hashtags', ['#data', '#science'])])

In [153]:
"user" in tweet_keys  # True but slow

True

In [154]:
"user" in tweet         # True faster

True

In [155]:
"joelgrus" in tweet_values  #True

True

Dictionary의 내용을 변경하면, ```tweet_keys```, ```tweet_values```, ```tweet_items```의 내용이 변경되는 것을 볼 수 있다.

```.keys()```, ```.values()```, ```.items()```의 method들은 view라는 것을 반환하며, 이들은 dictionary의 상태 변경을 반영한다.

In [156]:
tweet["date"] = "2015-01-02"

In [157]:
tweet_keys

dict_keys(['user', 'text', 'retweet_cout', 'hashtags', 'date'])

In [158]:
tweet_values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science'], '2015-01-02'])

In [159]:
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_cout', 100), ('hashtags', ['#data', '#science']), ('date', '2015-01-02')])

loop를 돌면서 dictionary의 내용을 제거할 수는 없다.

* runtime error가 발생한다.

In [160]:
for key in tweet:
    if key == "date": del tweet[key]

RuntimeError: dictionary changed size during iteration

### Counter

* sequence내의 원소들을 종류 별로 빈도를 계산하여 dictionary와 비슷한 형태로 표현함

In [161]:
from collections import Counter
c = Counter([0, 1, 2, 0])
print(c)

Counter({0: 2, 1: 1, 2: 1})

  * ```c```의 결과는 다음과 같다 : ```Counter({0: 2, 1: 1, 2: 1})```
  * 0이 2개, 1이 1개, 2가 1개 있음을 나타냄

In [162]:
c2 = Counter(["a", "b", "a", "c", "b", "a"])
print(c2)

Counter({'a': 3, 'b': 2, 'c': 1})